fourth/src/main/mule/fourth.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aaf848ca-58f7-4311-ad44-7dedbbf4dd39" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="fourthFlow" doc:id="8394aa22-dc43-41be-a9ba-f0e4b9f49cf7" >
		<http:listener doc:name="Listener" doc:id="b43b6f5f-245c-4fef-b027-c11d18c56377" config-ref="HTTP_Listener_config" path="/fourth"/>
		<set-payload value='#["attempt 4"]' doc:name="Set Payload" doc:id="5760bf6b-9ca3-4451-b1bd-ba3a0b8b7ce9" />
	</flow>
</mule>
